.main{
    grid-area: main;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    .main_productos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: 50%;

    }
}

.main_text{
    display: flex;
    gap: 10px;
    color: #fff;
}

